*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    padding: 50px;
}
.box{
    border: 2px solid black;
    padding: 40px;
    margin-bottom: 20px;
    animation-name: slideLeft;
    animation-duration: 2000ms;
    animation-fill-mode: both;
}

.box:nth-child(1){
    animation-delay: 0ms;
}

.box:nth-child(2){
    animation-delay: 1000ms;
}

.box:nth-child(3){
    animation-delay: 2000ms;
}

@keyframes slideLeft {
    from{
        transform: translateX(-120%);
    }
    to{
        transform: translateX(0);
    }
}

/* .heading{
    animation-name: slideLeft;
    animation-duration: 2000ms;
    animation-delay: 2s;
    animation-fill-mode: both;
} */