.box{
    border: 1px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    transition: 1000ms;
}

.box:hover{
    background-color: lightblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box:active{
    background-color: gray;
}
